<h1 class="edit-head">Editing Book</h1>

<% if @book.errors.any? %>
<div class="error-box">
  <div class="error-head">
    <% @book.errors.count %> error prohibited this book from being saved:
  </div>
  <ul class="error-list">
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with model: @book, url: book_path(@book), method: :patch do |f| %>
<div class="edit-box">
  <div class="edit-title-box">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>

  <div class="edit-body-box">
    <h4>Body</h4>
    <%= f.text_area :body %>
  </div>

  <div class="update-bottom"><%= f.submit 'Update Book' %></div>
</div>

<% end %>

<div class="link-box">
  <%= link_to('Show', book_path(@book.id), {class: "show-link action-link"}) %>
  <span>|</span>
  <%= link_to('back', books_path(@book.id), {class: "back-link action-link"}) %>
</div>