<div class="show-box">
  <div><%= flash[:notice] %></div>

  <div class="title-box">
    <div class="table">Title:</div>
    <div class="table-child"><%= @book.title %></div>
  </div>

  <div class="body-box">
    <div class="table">Body:</div>
    <div class="table-child"><%= @book.body %></div>
  </div>
</div>

<div class="link-box">
  <%= link_to("Edit", edit_book_path(@book.id), {class: "show-link-edit action-link"}) %>
  <span>|</span>
  <%= link_to("Back", books_path, {class: "show-link-back action-link"}) %>
</div>